section.flights-list {
  width: 100%;
  margin-left: calc($search-settings-width + 20px);
  margin-top: 1em;
  .flight-card {
    margin-bottom: 2em;
    header {
      background-color: $main-color;
      color: white;
      display: flex;
      justify-content: space-between;
      padding: 3px 1em;
      p {
        &.price {
          text-align: right;
          font-size: x-large;
        }
        &.describe {
          font-size: x-small;
        }
      }
      img {
        max-width: 100px;
      }
    }
    .flight-leg {
      margin: 0 10px;
      .route {
        padding: $card-info-padding;
        font-size: medium;
        border-bottom: 1px solid rgb(225, 225, 225);
        .airport-uid {
          color: $main-color;
        }
      }
      .flight-time {
        padding: $card-info-padding;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        .date-time {
          .date {
            font-size: medium;
            margin: 0 5px;
            color: $main-color;
          }
          .time {
            font-size: large;
          }
        }
      }
      .transfers {
        color: $alt-color;
        display: flex;
        align-items: center;
        padding: 0 3em;
        font-size: small;
        div {
          flex-grow: 1;
          border: 1px solid rgb(210, 210, 210);
        }
        p {
          margin: 0 1em;
        }
      }
      .airline {
        padding: $card-info-padding;
        font-size: 0.9em;
      }
    }
    .separator {
      border: 1px solid $main-color;
    }
    button {
      text-transform: uppercase;
      width: 100%;
      background-color: $alt-color;
      color: white;
      border: none;
      padding: 1em;
    }
  }
}
