@media screen and (max-width: '768px') {
  section.flights-list {
    margin: 5px;
  }
  .app-container {
    nav {
      div {
        display: block;
        cursor: pointer;
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
  .search-settings {
    max-width: 300px;
    background-color: rgb(248, 248, 248);
    .close-button {
      display: inline;
      position: absolute;
      top: $aside-padding-top;
      right: 10px;
      cursor: pointer;
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
