aside {
  position: fixed;
  max-width: $search-settings-width;
  padding: 5px;
  padding-top: $aside-padding-top;
  padding-right: 10px;
  font-size: small;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  transition: transform 0.3s;
  background-color: #fff;
  scrollbar-gutter: auto;
  &.hide {
    transform: translate(calc($search-settings-width-medium-screen * -1));
  }
  header {
    font-weight: bold;
    margin: 1em 0;
  }
  .close-button {
    display: none;
  }
  label {
    vertical-align: middle;
    margin: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    input[type='checkbox'],
    input[type='radio'] {
      vertical-align: middle;
      margin-right: 3px;
    }
  }
  .radio-block,
  .checkbox-block {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
  }
  .sorting-block {
    margin-bottom: 3em;
  }
  .filter-block {
    label {
      display: flex;
      align-items: center;
      p {
        width: 30px;
        text-align: left;
      }
      input[type='text'] {
        margin: 5px 0;
        width: 100px;
        flex-grow: 1;
      }
    }
  }
  .airlines {
    width: 100%;
    &-label {
      display: flex;
      span.airline {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
