$main-color: rgb(50, 140, 204);
$alt-color: orange;
$card-info-padding: 0.6em;
$search-settings-width: 220px;
$search-settings-width-medium-screen: 300px;
$app-header-height: 42px;
$aside-padding-top: calc($app-header-height + 10px);
